<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script>
        function SendDelete() {
            return fetch('http://46.101.42.27:8080/all', {
                method: 'delete'
            })
                    .then(response => response.json());
        }

        function SendGet() {
            return fetch('http://46.101.42.27:8080/all', {
                method: 'get'
            })
                    .then(function (response) {
                        // var div = document.createElement("div");
                        // div.setAttribute("id", "reload");
                        // document.body.appendChild(div);
                        //div.innerHTML = JSON.stringify(response.json());
                        return response.text();

                    })
                    .then(function (text) {
                        var div = document.createElement("div");
                        div.setAttribute("id", "reload");
                        document.body.appendChild(div);
                        div.innerHTML = text;
                    })
        }

        function SendGetLogsId() {
            return fetch('http://46.101.42.27:8080/logs' + '/?id=' + document.forms["GetLogsById"]["id"].value, {
                method: 'get'
            })
                    .then(response => response.json());
        }

        function SendDeleteLogsId() {
            return fetch('http://46.101.42.27:8080/logs' + '/?id=' + document.forms["DeleteLogsById"]["id"].value, {
                method: 'delete'
            })
                    .then(response => response.json());
        }

        function SendDeleteLogs() {
            return fetch('http://46.101.42.27:8080/logs/deleteAll', {
                method: 'delete'
            })
                    .then(response => response.json());
        }

        function SendGetMetricsId() {
            return fetch('http://46.101.42.27:8080/metrics' + '/?id=' + document.forms["GetMetricsById"]["id"].value, {
                method: 'get'
            })
                    .then(response => response.json());
        }

        function SendDeleteMetricsId() {
            return fetch('http://46.101.42.27:8080/metrics' + '/?id=' + document.forms["DeleteMetricsById"]["id"].value, {
                method: 'delete'
            })
                    .then(response => response.json());
        }

        function SendDeleteMetrics() {
            return fetch('http://46.101.42.27:8080/metrics/deleteAll', {
                method: 'delete'
            })
                    .then(response => response.json());
        }

        function SendPostLogs(){
            var reader = new FileReader();
            var data = new FormData();
            reader.onload = function (event) {
                var contents = event.target.result;
                data.append('file', contents);
                fetch('http://46.101.42.27:8080/logs', {
                    method: 'post',
                    body: data
                })
            };
            reader.readAsText(document.getElementById('postlogs').files[0])
        }

        function SendPostMetrics(){
            var reader = new FileReader();
            var data = new FormData();
            reader.onload = function (event) {
                var contents = event.target.result;
                data.append('file', contents);
                fetch('http://46.101.42.27:8080/metrics', {
                    method: 'post',
                    body: data
                })
            };
            reader.readAsText(document.getElementById('postmetrics').files[0])
        }
    </script>
</head>
<body>
<header id="header" class="header">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">All</th>
            <th scope="col">Logs</th>
            <th scope="col">Metrics</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">GET</th>
            <td>
                <button onclick="SendGet()">Get All</button>
            </td>
            <td>
                <form name="GetLogsById">
                    <div class="form-group">
                        <input type="text" name="id">
                    </div>
                </form>
                <button onclick="SendGetLogsId()">Get Logs By Id</button>
            </td>
            <td>
                <form name="GetMetricsById">
                    <div class="form-group">
                        <input type="text" name="id">
                    </div>
                </form>
                <button onclick="SendGetMetricsId()">Get Metrics By Id</button>
            </td>
        </tr>
        <tr>
            <th scope="row">DELETE ID</th>
            <td>-</td>
            <td>
                <form name="DeleteLogsById">
                    <div class="form-group">
                        <input type="text" name="id">
                    </div>
                </form>
                <button onclick="SendDeleteLogsId()">Delete Logs By Id</button>
            </td>
            <td>
                <form name="DeleteMetricsById">
                    <div class="form-group">
                        <input type="text" name="id">
                    </div>
                </form>
                <button onclick="SendDeleteMetricsId()">Delete Metrics By Id</button>
            </td>
        </tr>
        <tr>
            <th scope="row">POST</th>
            <td>-</td>
            <td>
                <form>
                    <div class="form-group">
                        <input type="file" name="logs_file" accept=".log" id="postlogs">
                    </div>
                </form>
                <button onclick="SendPostLogs()">Post Logs</button>
            </td>
            <td>
                <form>
                    <div class="form-group">
                        <input type="file" name="logs_file" accept=".json" id="postmetrics">
                    </div>
                </form>
                <button onclick="SendPostMetrics()">Post Metrics</button>
            </td>
        </tr>
        <tr>
            <th scope="row">DELETE ALL</th>
            <td>
                <button onclick="SendDelete()">Delete all</button>
            </td>
            <td>
                <button onclick="SendDeleteLogs()">Delete All Logs</button>
            </td>
            <td>
                <button onclick="SendDeleteMetrics()">Delete All Metrics</button>
            </td>
        </tr>
        </tbody>
    </table>
</header>
</body>
</html>